{% extends "base.html" %}

{% block title %}Movie List{% endblock title %}

{% block extrahead %}
<style>
table {
	margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">Movie List</h3>
<a href="{% url 'go_to_action:movie_new' %}" class="btn btn-default btn-sm">New</a>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for movie in movies %}
		<tr>
			<td>{{ movie.key.id }}</td>
			<td>{{ movie.title }}</td>
			<td>
				<a href="{% url 'go_to_action:movie_detail' pk=movie.key.id %}" class="btn btn-default btn-sm">See</a>
				<!-- TODO: implement this -->
				<a href="{% url 'go_to_action:movie_list' %}" class="btn btn-danger btn-sm">Delete</a>
				<!-- -->
				<a href="{% url 'go_to_action:send_email' pk=movie.key.id %}" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-envelope"></span> Send Email
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
